.border-top-table {
  border-top: 3px solid rgb(8, 97, 78);
}

.border-bottom-table {
  border-bottom: 3px solid rgb(8, 97, 78);
}

.litepicker .container__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendarContainer {
  margin-top: 20px;
}

.md-330px {
  width: 370px;
  padding: 0px;
  margin: 4em auto;
}

@media (max-width: 600px) {
  .md-330px {
    margin: auto;
    margin-bottom: 1em;
  }
}

.container__months {
  padding-top: 0px !important;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 275px !important;
}

.month-item {
  padding: 0px !important;
  width: 275px !important;
}

.month-item-header {
  background-color: rgb(23, 123, 118);
  color: #fff;

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.month-item-header > div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 7px;
}

.button-next-month,
.button-previous-month {
  scale: 0.8;
  cursor: pointer !important;
}

.month-item-name,
.month-item-year {
  scale: 0.8;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-color: transparent;
  background-color: rgb(55, 139, 135);
  color: white;
  border: none;
  text-align: end;
  margin-right: 5px;
  border: none !important;
  height: 32px;
}

.month-item-name option,
.month-item-year option {
  background-color: white;
  color: #2c7f7a;
}

.month-item-name option:hover,
.month-item-year option:hover {
  background-color: rgb(212, 238, 234) !important;
}

.month-item-name option {
  text-align: start;
}

.month-item-year option {
  text-align: center;
}

.month-item-weekdays-row > div {
  scale: 1.15;
  font-weight: 500;
  color: #62a7a0;
}

.month-item .day-item {
  scale: 1;
  padding: 7px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.is-today {
  color: #4f9792 !important;
}

.is-start-date {
  color: #edf1f1 !important;
  background-color: rgb(23, 123, 118) !important;
}

.is-end-date {
  color: #edf1f1 !important;
  background-color: rgb(23, 123, 118) !important;
}

.is-in-range {
  background-color: rgb(212, 238, 234) !important;
}

.day-item:hover {
  color: rgb(14, 95, 91);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(163, 224, 206, 0.9) 0px 0px 3px 1px !important;
}

/* Remove text selection */
.no-select {
  user-select: none; /* Standard CSS property for most browsers */
  -webkit-user-select: none; /* Safari and Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.today,
.current-month,
.current-year {
  background-color: rgba(16, 152, 100, 0.188) !important;
  color: #1d3d2e !important;
  border: 1px solid #1b7c4f6f;
}

.selected-range {
  background-color: rgba(27, 134, 129, 0.16) !important;
  color: #064d45 !important;
}

.calendar-wrapper .date:hover,
.calendar-wrapper .month:hover,
.calendar-wrapper .year:hover,
.calendar-wrapper .date.active,
.calendar-wrapper .month.active,
.calendar-wrapper .year.active {
  background-color: rgba(27, 134, 129, 0.161);
  color: #064d45 !important;
}

.calendars-container {
  display: grid;
  gap: 20px;
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-height: max-content;
}

.calendar-wrapper h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.selected-value-box {
  margin-bottom: 4px;
  color: #063e39;
  font-size: 1em;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  max-width: 100%;
  border: 1px solid #70a19f;
  margin-bottom: 0.8em;
}

.t-alight-center {
  text-align: center;
}

body {
  -webkit-font-smoothing: antialiased; /* ทำให้ตัวอักษรคมชัดขึ้นใน iOS */
}

.calendar {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: none;
}

.calendar header {
  background-color: rgb(23, 123, 118);
  color: #fff;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar header h2 {
  margin: 0;
  font-size: 1.2em;
}

.calendar header button {
  background-color: rgb(23, 123, 118);
  border: none;
  color: #c9c6c6;
  font-weight: 800;
  font-size: 1.5em;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease; /* Safari/iOS */
}

.calendar header button:hover {
  color: rgb(115, 218, 218);
}

.days-of-week,
.dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.3rem;
  background-color: white;
  padding: 10px;
  color: #73aea2;
  font-weight: 500;
}

.months-grid,
.years-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  gap: 5px;
  padding: 10px;
}

.years-grid {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0) 0px 3px 2px, rgba(0, 0, 0, 0.23) 0px 3px 4px;
}

.date {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  font-weight: 500;
  color: #555;
  background-color: white;
  font-size: 0.85rem;
}

.month,
.year {
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  font-weight: 500;
  color: #555;
  background-color: #f5f4f4;
  font-size: 0.9rem;
}

button,
.date,
.month,
.year {
  -webkit-tap-highlight-color: transparent; /* ลดการไฮไลต์เมื่อกดใน iOS */
  touch-action: manipulation; /* ปรับการตอบสนองการสัมผัส */
}

/* จัดให้ calendar วันที่แสดงก่อน */
.calendars-container {
  display: block;
}

#date-picker-wrapper {
  display: block;
}

#month-picker-wrapper,
#year-picker-wrapper {
  display: none;
}

.date.other-month {
  color: #ccc;
}

.top-calendar {
  color: #063e39;
  font-weight: 600;
  margin-top: 1rem;
}

