li {
  list-style: none;
}

.f-top-table {
  font-size: 1.2rem;
  font-weight: 600;
}

*:focus {
  outline: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.container-xl {
  max-width: 1900px;
}

section {
  padding-top: 1rem;
}

.bg-together-full {
  background-image: linear-gradient(to right, rgb(10, 87, 83), rgb(4, 8, 8));
}

.bg-together-full-left {
  background-image: linear-gradient(to right, rgb(4, 8, 8), rgb(12, 73, 70));
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.bg-together {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(73, 184, 179);
  background-image: linear-gradient(
    to right,
    rgb(4, 8, 8),
    rgba(8, 97, 92, 0.685)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.bg-together:hover {
  background-color: rgb(65, 167, 154);
  background-image: linear-gradient(
    to left,
    rgba(47, 114, 123, 0.501),
    rgb(75, 146, 139)
  );
}

.bg-together-img {
  background: linear-gradient(rgba(17, 17, 16, 0.3), rgba(0, 0, 0, 0.7)),
    url(img/together-view.jpg) center no-repeat;
  background-size: cover; /* or 100% 100% */
}

.bg-together-light {
  color: rgb(5, 91, 89);
  background-color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}

.bg-together-card-light {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(65, 167, 154);
  background-image: linear-gradient(
    to left,
    rgba(47, 114, 123, 0.501),
    rgb(75, 146, 139)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.bg-together-card-light:hover {
  background-image: linear-gradient(
    to left,
    rgba(47, 114, 123, 0.704),
    rgba(47, 114, 123, 0.677)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.bg-together-card-plain {
  border-radius: 7px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #e7efee86;
  border: 1px solid;
  border-color: #ecf0f0;
}

/* card 1 */

.wrap-show-income {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
  border: rgba(172, 170, 170, 0.311) 2px solid;
  border-radius: 7px;
  color: white;
}

.show-income-right {
  flex-grow: 1;
}
@media (min-width: 1000px) {
  .wrap-show-income {
    gap: 2rem;
  }
}

@media (max-width: 500px) {
  .wrap-show-income {
    padding: 0.5rem;
    border: rgba(180, 176, 176, 0.314) 1px solid;
    gap: 0.5rem;
  }
}

.d-grid1-05rem {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
  width: 100%;
}

.d-grid2-1rem {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.5rem;
}

@media (min-width: 650px) {
  .d-grid2-1rem {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.card-d-grid2-auto {
  display: grid;
  grid-template-columns: auto auto;
  text-shadow: 1px 1px 1px #000;
  padding: 1rem;
  border-radius: 7px;
  font-size: 1.5rem;
  align-items: center;
  min-height: 8rem;
}

.card-d-grid1-2row {
  height: 100%;
  min-height: 8rem;
  padding: 2rem 1rem;
  margin: 0;
  display: grid;
  text-align: center;
}

.card-d-grid1-2row :nth-child(1) {
  font-size: 1rem;
  color: #dae4e1;
  font-weight: 400;
}

.card-d-grid1-2row :nth-child(2) {
  font-size: 1.5rem;
  font-weight: 500;
}

/* card display grid 1 gap 1rem */
.d-grid-1rem {
  display: grid;
  flex-direction: column;
  gap: 1rem;
}

.wrap-card-tg-g2 {
  display: grid;
  gap: 0.5rem;
  padding-bottom: 0px;
  border-radius: 7px;
  margin: 1rem 0;
  width: 100%;
}

@media (min-width: 600px) {
  .wrap-card-tg-g2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.wrap-card-tg-g3 {
  display: grid;
  gap: 0.5rem;
  padding-bottom: 0px;
  border-radius: 7px;
  margin: 1rem 0;
  width: 100%;
}

@media (min-width: 600px) {
  .wrap-card-tg-g3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.tech-circle-container {
  position: relative;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: white;
  margin: 1rem;
}

@media (min-width: 1600px) {
  .tech-circle-container {
    border: rgb(1, 63, 53) 3px solid;
  }
}

/* Over bill section */

.wrap-show-income-d-grid-1rem {
  margin-top: 0;
  border-radius: 7px;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 500px) {
  .wrap-show-income-d-grid-1rem {
    padding: 0.7rem;
  }
}
.card-bill-inside-top {
  border-radius: 7px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

@media (min-width: 500px) {
  .card-bill-inside-top {
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
}

.outer-glow-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 255, 217, 0.15), transparent);
  box-shadow: 0 0 15px rgba(1, 199, 189, 0.8), 0 0 50px rgba(0, 255, 242, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.circle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle-text {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.subtext {
  font-size: 1.2rem;
  color: #c0f8f8; /* Lighter color for subtext */
  font-weight: 400;
}

.outer-ring {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 2px solid #00fff2;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 255, 221, 0.6);
}

.rotating-dot {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 255, 221);
  border-radius: 50%;
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0, 255, 170, 0.8);
  animation: rotate-circle 4s infinite linear;
}

@media (max-width: 600px) {
  .tech-circle-container {
    width: 19rem;
    height: 19rem;
  }

  .rotating-dot {
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 255, 170, 0.8);
    animation: rotate-circle2 4s infinite linear;
  }
}

/* Rotating animation for the dot */
@keyframes rotate-circle {
  0% {
    transform: rotate(0deg) translateX(135px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(135px) rotate(-360deg);
  }
}

@keyframes rotate-circle2 {
  0% {
    transform: rotate(0deg) translateX(118px) rotate(0deg); /* Smaller circle */
  }
  100% {
    transform: rotate(360deg) translateX(118px) rotate(-360deg); /* Smaller circle */
  }
}

@media (max-width: 400px) {
  textarea {
    width: 300px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 0.9rem;
  }
}

.panel {
  display: none;
}

.main {
  min-height: 80vh;
}

@media (max-width: 430px) {
  .sm-hidden {
    display: none;
  }
}

.font-upper {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.left-4px {
  padding-left: 15px;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.border-total {
  border-top: 1px;
  border-style: solid none double none;
  border-color: #888;
}

.border-total-top {
  border-top: 1px;
  border-style: solid none none none;
  border-color: #888;
}
a {
  text-decoration: none;
  outline-color: transparent;
  color: white;
}

a:hover {
  color: white;
}

.hidden-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.hidden-over:hover {
  overflow: visible;
  white-space: wrap;
  font-weight: 600;
  color: #093835;
  text-align: start;
}

.star-red::after {
  content: "*";
  color: red;
}

.border-rd-7px {
  border-radius: 7px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

/* end common  */

/* Modal */
.modal-h {
    background-color: #037971;
    font-size: 1.5rem;
    height: 4.2rem;
  }

  .modal-h h3 {
    text-align: center;
    color: red;
  }

  .modal-h .close {
    font-size: 2rem;
  }

  .modal-t {
    font-size: 2rem;
    height: 4rem;
  }

  .modal-b {
    background-color: #a8ecca17;
  }

  .modal-c {
    margin: auto;
    padding: 2px;
    border: 1px solid #888;
    max-width: 800px;
    background-color: none;
  }

  /* Form add */

  .form-modal {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  .form-modal .header-bill {
    font-size: 1.5rem;
    color: rgb(1, 56, 49);
    padding: 0.5rem 0;
    font-weight: 500;
  }

  .form-modal .header-bill p {
    background-color: #037971;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
  }

  .form-modal h3 span {
    font-size: 1.3rem;
    color: rgb(1, 56, 49);
    border-bottom: dashed 1px rgb(65, 80, 0);
  }

  .input-g {
    display: grid;
    gap: 0.5rem;
  }

  .input- span {
    width: 100%;
  }

  .input-g span input,
  .input-g span select,
  .input-g span textarea {
    width: 100%;
    border: 1px solid rgb(143, 158, 159);
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    height: 40px;
    border-radius: 5px;
    text-align: start;
  }

  .bg-green-light {
    background-color: #59a89e81;
  }
  .input-g label {
    color: #093835;
  }

  @media (min-width: 600px) {
    .form-modal {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .form-modal .header-bill {
      grid-column: 1/3;
    }

    .form-modal h3 {
      grid-column: 1/3;
    }

    .form-modal textarea {
      grid-column: 1/3;
    }

    .input-g {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .form-modal .auto-select {
    background-color: #368f8f3f;
  }

  @media (max-width: 600px) {
    .input-g {
      display: grid;
      grid-template-columns: 110px auto;
    }
  }

  @media (max-width: 400px) {
    .input-g {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

/* Bill */

.wrap-company-detail {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
}

.wrap-company-detail .img {
  text-align: center;
  width: 100%;
}

@media (max-width: 380px) {
  .wrap-company-detail h1 {
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  .wrap-company-detail h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  .wrap-company-detail h1 {
    font-size: 1.8rem;
    white-space: nowrap;
  }
}

@media (min-width: 600px) {
  .wrap-company-detail {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .company-detail ul {
    padding-left: 10%;
  }

  .wrap-company-detail .img {
    text-align: right;
  }
}

/* boby-top*/

.receipt-cutomer-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.receipt-cutomer-detail ul {
  padding: 0;
  width: 300px;
}

.receipt-cutomer-detail ul:nth-child(1) {
  padding: 0;
}

.receipt-cutomer-detail ul:nth-child(2) {
  padding: 0;
  width: 300px;
}

.receipt-cutomer-detail li {
  display: grid;
  grid-template-columns: 120px auto;
  margin: 0;
  padding: 0;
}

.receipt-cutomer-detail li :nth-child(2)::before {
  content: ":";
  margin-right: 10px;
}

@media (min-width: 860px) {
  .receipt-cutomer-detail ul:nth-child(1) {
    width: 490px;
  }
}

.receipt-subtotal {
  display: flex;
  justify-content: end;
}

.receipt-subtotal li {
  display: grid;
  grid-template-columns: auto 150px;
}

.receipt-subtotal li :nth-child(2) {
  text-align: right;
}

.receipt-subtotal span {
  padding: 0 10px;
}

.receipt-bottom {
  padding: 1rem 2%;
  border-top: 0.5px solid;
}

/* Sign */

.signature {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.signature div {
  border-top: dashed 1px #000;
  padding: 0.5rem 2rem;
  margin-top: 3rem;
}

@media (max-width: 400px) {
  .signature {
    justify-content: center;
  }

  .receipt-bottom {
    border: 0px;
  }
}
@media (min-width: 600px) {
  .signature div:nth-child(1) {
    margin-left: 10%;
  }

  .signature div:nth-child(2) {
    margin-right: 10%;
  }
}

/* Button */

.bt-one {
  margin: 0.5rem 0;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  transition-duration: 100ms;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  white-space: nowrap;
  height: 3rem;
  border-right: 2px solid #282323;
  border-bottom: 2px solid #282323;
}

.bt-tg {
  margin: 0.5rem 0;
  color: white;
  border-radius: 10px;
  color: white;
  background-color: rgb(73, 184, 179);
  background-image: linear-gradient(
    to right,
    rgb(18, 64, 64),
    rgba(8, 97, 92, 0.685)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border: none;
  transition-duration: 100ms;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  white-space: nowrap;
  height: 3.2rem;
}

.bg-tg-light {
  background-color: rgb(73, 184, 179);
  background-image: linear-gradient(
    to right,
    rgba(5, 120, 120, 0.924),
    rgba(3, 76, 72, 0.685)
  );
}

.bt-red {
  white-space: nowrap;
  background-image: linear-gradient(rgb(137, 45, 45), rgb(17, 6, 6));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.bt-grey {
  white-space: nowrap;
  background-color: #919393;
  background-image: linear-gradient(rgb(83, 81, 81), rgba(68, 69, 68, 0.623));
  color: white;
}

.bt-green-blue {
  white-space: nowrap;
  background-color: #919393;
  background-image: linear-gradient(rgb(3, 126, 110), rgb(3, 126, 110));
  color: white;
}

.green {
  white-space: nowrap;
  border-radius: 10px;
  color: white;
  background-color: rgb(73, 184, 179);
  background-image: linear-gradient(
    to top,
    rgb(4, 8, 8) 5%,
    rgba(8, 97, 49, 0.685) 90%
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.grey-back {
  border: rgba(255, 255, 255, 0.671) 1px solid;
  padding: 0.3rem 1.5rem;
  border-radius: 7px;
  margin: 0.5rem;
  background-color: rgba(243, 248, 248, 0.523);
  background-image: linear-gradient(
    rgba(183, 181, 181, 0.392),
    rgba(236, 228, 228, 0.334)
  );
}

.grey-back:before {
  content: "\00AB";
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.bt-tg:hover {
  background-color: #59a89e;
  background-image: linear-gradient(
    to right,
    rgba(5, 80, 85, 0.366),
    rgba(2, 52, 56, 0.434)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

/*
.bt-one {
  margin: 0.5rem 0;
  color: white;
  border-radius: 10px;
  color: white;
  background-color: rgb(73, 184, 179);
  background-image: linear-gradient(
    to right,
    rgb(10, 117, 117),
    rgb(10, 117, 117)
  );
  box-shadow: none;
  border: none;
  transition-duration: 100ms;
  padding: 0.75rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  white-space: nowrap;
  height: 3.2rem;
} */

.bt-one-tg {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 10px;
  color: white;
  background-color: rgb(73, 184, 179);
  background-image: linear-gradient(
    to right,
    rgb(10, 117, 117),
    rgb(10, 117, 117)
  );
}

.sm {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  max-height: 2.2rem;
}

.md {
  font-size: 1rem;
  padding: 0.4rem 1rem;
}

.entriespage-label {
  width: max-content;
}

.bg-plain {
  background-color: #1a7973;
  margin: 0.5rem 0;
  padding: 0.7rem 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.bg-plain:hover {
  transform: translateY(-2px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grey-color {
  background-color: grey;
}

.w-100 {
  width: 100%;
}

.box-sm-circle-red {
    background-color: rgb(175, 8, 8);
    width: 20px;
    height: 20px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    padding: 0 0.2rem;
    padding-right: 0.3rem;
    font-size: 12px;
  }
