/* Table ที่มี 8 คอลัมป์แล้วค่อยๆ hide เมื่อ sreen ไม่พอ */

.wrap-table-together {
  width: 100%;
  border-radius: 7px;
  padding: 0%;
}

.top-title-table {
  font-size: 1.5em;
  font-weight: 550;
}

table.table-together {
  width: 100%;
  border-radius: 7px !important;
  overflow: hidden;
}

.table-together tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-together tbody tr:nth-child(odd) {
  background-color: white;
}

.table-together th,
.table-together td {
  padding: 10px 5px;
  text-align: center !important;
  white-space: nowrap;
}

.table-together th {
  background-color: #2c7f7a !important;
  color: white !important;
}

/* Table หน้าออกบิล*/

.table-revenueEditBill-container {
  margin-bottom: 1rem;
  overflow: auto;
}

table#table-revenueEditBill {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  color: rgb(1, 45, 48);
  border-radius: 5px;
  overflow: hidden;
}

#table-revenueEditBill td:nth-child(1),
#table-revenueEditBill th:nth-child(1) {
  text-align: center;
  width: 10%;
}

#table-revenueEditBill td:nth-child(2),
#table-revenueEditBill th:nth-child(2) {
  text-align: start;
  width: 60%;
}

#table-revenueEditBill td:nth-child(3),
#table-revenueEditBill th:nth-child(3) {
  text-align: end;
  width: 15%;
}

#table-revenueEditBill td:nth-child(4),
#table-revenueEditBill th:nth-child(4) {
  text-align: end;
  width: 15%;
}

#table-revenueEditBill th {
  border-top: 1px solid #a7adad;
  border-bottom: 1px solid #a7adad;
  text-transform: uppercase;
}
#table-revenueEditBill td {
  border-top: 1px solid #a7adad;
  text-transform: capitalize;
}

#table-revenueEditBill th,
#table-revenueEditBill td {
  padding: 0.5rem;
}
