table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before {
  position: absolute;
  display: block;
  bottom: 50%;
  content: "▲";
  content: "▲" /"";
}

table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  position: absolute;
  display: block;
  top: 50%;
  content: "▼";
  content: "▼" /"";
}

table.dataTable thead>tr>th.dt-orderable-asc,
table.dataTable thead>tr>th.dt-orderable-desc,
table.dataTable thead>tr>th.dt-ordering-asc,
table.dataTable thead>tr>th.dt-ordering-desc,
table.dataTable thead>tr>td.dt-orderable-asc,
table.dataTable thead>tr>td.dt-orderable-desc,
table.dataTable thead>tr>td.dt-ordering-asc,
table.dataTable thead>tr>td.dt-ordering-desc {
  position: relative;
  padding-right: 30px;
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  width: 12px;
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  left: 0;
  opacity: 0.125;
  line-height: 9px;
  font-size: 0.8em;
}

table.dataTable thead>tr>th.dt-orderable-asc,
table.dataTable thead>tr>th.dt-orderable-desc,
table.dataTable thead>tr>td.dt-orderable-asc,
table.dataTable thead>tr>td.dt-orderable-desc {
  cursor: pointer;
}

table.dataTable thead>tr>th.dt-orderable-asc:hover,
table.dataTable thead>tr>th.dt-orderable-desc:hover,
table.dataTable thead>tr>td.dt-orderable-asc:hover,
table.dataTable thead>tr>td.dt-orderable-desc:hover {
  outline: 2px solid rgba(0, 0, 0, 0.05);
  outline-offset: -2px;
}

table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  opacity: 0.6;
}

table.dataTable thead>tr>th.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead>tr>th.sorting_asc_disabled span.dt-column-order:before,
table.dataTable thead>tr>td.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead>tr>td.sorting_asc_disabled span.dt-column-order:before {
  display: none;
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
  outline: none;
}

div.dt-scroll-body>table.dataTable>thead>tr>th,
div.dt-scroll-body>table.dataTable>thead>tr>td {
  overflow: hidden;
}

:root.dark table.dataTable thead>tr>th.dt-orderable-asc:hover,
:root.dark table.dataTable thead>tr>th.dt-orderable-desc:hover,
:root.dark table.dataTable thead>tr>td.dt-orderable-asc:hover,
:root.dark table.dataTable thead>tr>td.dt-orderable-desc:hover,
:root[data-bs-theme="dark"] table.dataTable thead>tr>th.dt-orderable-asc:hover,
:root[data-bs-theme="dark"] table.dataTable thead>tr>th.dt-orderable-desc:hover,
:root[data-bs-theme="dark"] table.dataTable thead>tr>td.dt-orderable-asc:hover,
:root[data-bs-theme="dark"] table.dataTable thead>tr>td.dt-orderable-desc:hover {
  outline: 2px solid rgba(255, 255, 255, 0.05);
}

/* Table ที่มี 8 คอลัมป์แล้วค่อยๆ hide เมื่อ sreen ไม่พอ */
.wrap-table-together div.dt-container {
  width: 100%;
  /* border: red 1px solid; */
  padding: 5px 10px;
}

/* .dt-container {
  min-height: 36rem;
} */

.top-title-table {
  font-size: 1.5em;
  font-weight: 550;
}

table.table-together {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: rgba(36, 96, 89, 0.15) 0px 2px 3px -1px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}

.table-together th,
.table-together td {
  padding: 6px 5px !important;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.table-together th {
  background-color: #2c7f7a !important;
  color: white !important;
  padding: 10px 5px !important;
  padding-right: 20px;
  border: transparent !important;
  border-left: 1px solid rgba(202, 212, 212, 0.712) !important;
}

.table-together td.td-wrap {
  white-space: wrap;
  min-width: 200px;
}

.table-together tbody tr:hover td {
  background-color: #e8faf6;
}
.table-together ul.dtr-details {
    width: 100%;
    text-align: start;
  }
.dt-layout-row {
  justify-content: end;
}

.page-link {
  color: rgb(2, 12, 14) !important;
}

.page-link.active {
  color: rgb(245, 242, 242) !important;
}

/* ul.dtr-details li {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(231, 229, 229);
}

ul.dtr-details li span:nth-child(1) {
  min-width: 130px;
  text-align: start;
  font-weight: bold;
}

ul.dtr-details li span:nth-child(2) {
  display: flex;
  gap: 7px;
  text-align: right;
  gap: 5px;
} */

/* ul.dtr-details li span:nth-child(1)::after {
  content: ":";
  font-weight: bold;
  margin: auto 5px;
} */

/* Table หน้าออกบิล*/

.table-revenueEditBill-container {
  margin-bottom: 1rem;
  overflow: auto;
}

table#table-revenueEditBill {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  color: rgb(1, 45, 48);
  border-radius: 5px;
  overflow: hidden;
}

#table-revenueEditBill td:nth-child(1),
#table-revenueEditBill th:nth-child(1) {
  text-align: center;
  width: 10%;
}

#table-revenueEditBill td:nth-child(2),
#table-revenueEditBill th:nth-child(2) {
  text-align: start;
  width: 60%;
}

#table-revenueEditBill td:nth-child(3),
#table-revenueEditBill th:nth-child(3) {
  text-align: end;
  width: 15%;
}

#table-revenueEditBill td:nth-child(4),
#table-revenueEditBill th:nth-child(4) {
  text-align: end;
  width: 15%;
}

#table-revenueEditBill th {
  border-top: 1px solid #a7adad;
  border-bottom: 1px solid #a7adad;
  text-transform: uppercase;
}

#table-revenueEditBill td {
  border-top: 1px solid #a7adad;
  text-transform: capitalize;
}

#table-revenueEditBill th,
#table-revenueEditBill td {
  padding: 0.5rem;
}
